@media screen and (max-width: 1552px) {
  .cards_wrapper {
    width: 75%;
  }
}

@media screen and (max-width: 1373px) {
  .cards_wrapper {
    width: 74%;
  }
}

@media screen and (max-width: 1300px) {
  header .right .search_wrapper {
    width: 500px;
    height: 56px;
  }
  header .right .search_wrapper input {
    width: 85%;
    height: 96%;
  }
  .cards_wrapper {
    width: 73%;
  }
}

@media screen and (max-width: 1250px) {
  .cards_wrapper {
    width: 72%;
  }
}

@media screen and (max-width: 1180px) {
  .cards_wrapper {
    width: 71%;
  }
}
@media screen and (max-width: 1130px) {
  .cards_wrapper {
    width: 70%;
  }
  header .right .search_wrapper {
    width: 300px;
    height: 56px;
    background-color: transparent;
  }
  header .right .search_wrapper input {
    width: 75%;
    height: 96%;
  }

  .events_wrapper .events_header div p {
    left: 78%;
  }
}

@media screen and (max-width: 1075px) {
  .cards_wrapper {
    width: 69%;
  }
}

@media screen and (max-width: 1017px) {
  main {
    gap: 0px;
  }
  .cards_wrapper {
    width: 83%;
  }
  .navhidden {
    display: none;
  }
  main .navigation_left {
    width: 100px;
    height: 536px;
    margin-left: 5px;
  }
  .login_wrapper,
  .signup_wrapper {
    display: none;
  }
  .authhidden {
    display: flex;
  }
  .events_wrapper .events_header h1 {
    font-size: 20px;
  }
  .events_wrapper .events_header div p {
    left: 70%;
  }
  .slick-prev {
    top: -40px;
  }
  .slick-next {
    top: -40px;
  }
}

@media screen and (max-width: 934px) {
  .cards_wrapper {
    width: 81%;
  }
  .events_wrapper .events_header div p {
    left: 65%;
  }
}
@media screen and (max-width: 855px) {
  .cards_wrapper {
    width: 80%;
  }
}

@media screen and (max-width: 730px) {
  .cards_wrapper {
    width: 79%;
  }
}

@media screen and (max-width: 680px) {
  .cards_wrapper {
    width: 78%;
  }
  .events_wrapper .events_header div p {
    left: 62%;
  }
}
@media screen and (max-width: 644px) {
  .events_wrapper .events_header div p {
    left: 60%;
  }
  .cards_wrapper {
    width: 77%;
  }
}
@media screen and (max-width: 600px) {
  .cards_wrapper {
    width: 76%;
  }
}
@media screen and (max-width: 570px) {
  .events_wrapper .events_header div p {
    left: 58%;
  }
  .cards_wrapper {
    width: 75%;
  }
}

@media screen and (max-width: 540px) {
  .events_wrapper .events_header div p {
    left: 55%;
  }
  header .left h1 a {
    font-size: 25px;
  }
  header .right .search_wrapper {
    width: 230px;
    height: 56px;
  }
  header .right .search_wrapper input {
    width: 68%;
    height: 96%;
  }
  header .right .search_wrapper input::placeholder {
    font-size: 15px;
  }
  .cards_wrapper {
    width: 74%;
  }
}

@media screen and (max-width: 510px) {
  .cards_wrapper {
    width: 73%;
  }
}

@media screen and (max-width: 451px) {
  header .right .search_wrapper {
    width: 180px;
    height: 45px;
  }
  header .right .search_wrapper input {
    width: 60%;
    height: 96%;
  }
  header .right .search_wrapper input::placeholder {
    font-size: 12px;
  }
  header .left h1 a {
    font-size: 20px;
  }
  .calendar_wrapper {
    margin-left: 10px;
  }
  .cards_wrapper .btn-price {
    right: 40px;
  }
}
